:root {
  --primary: #9c88ff;
}

* {
    box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
}


/* --- ТАБЛИЦЯ --- */
thead th {
    background: #f8f9fa;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #878686;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;           
    user-select: none;
    position: relative;
}

thead th:hover {
    background-color: #00000015;
    color: #272727;
}

thead th::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    opacity: 0;
}

thead th.asc::after {
    border-bottom-color: #6b7280;
    margin-top: -5px;
    opacity: 1;
}

thead th.desc::after {
    border-top-color: #6b7280;
    margin-top: 5px;
    opacity: 1;
}

tbody tr {
    transition: background-color 0.2s ease, transform 0.1s;
}

tbody tr.selected td {
    background-color: #e6f2ff;
    color: #0c4a6e;
    border-top: 1px solid #bfdbfe;
    border-bottom: 1px solid #bfdbfe;
}

/* Смужка зліва */
tbody tr.selected td:first-child {
    border-left: 4px solid #3b82f6;
}

tbody tr.selected:hover td {
    background-color: #dbeafe; 
}

tbody tr:hover td {
    background-color: #00000008;
}

.table-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 14px;
}

.col-date { width: 10%; text-align: center; }
.col-category { width: 10%; }
.col-title { width: 40%; }
.col-amount { width: 20%; }
.col-note { width: 10%; cursor: default;}
.col-action { width: 5%; cursor: default;}

td {
  padding: 10px;
  border-bottom: 1px solid #efefef;
  vertical-align: center;
}


td.action {
  text-align: center;
}

td.action button, 
td.action input {
  text-align: center;
  vertical-align: middle !important;
}


input {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 8px 4px;
  font-size: 16px; 
  background: #f9f9f9;
  outline: none;
}

input:focus {
  border-color: var(--primary);
  background: #fff;
}

.input-date {
  text-align: center;
  font-size: 12px;
}

.cat-icon {
    margin-right: 6px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: #28a745;
}

input[type="checkbox"]:hover {
    transform: scale(1.1);
}

.total-row {
  background-color: #a7f3bc7b;
}

/* --- BUTTONS --- */
.btn-add {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(46, 204, 113, 0.3);
  transition: transform 0.1s;
}

.btn-add:active {
  transform: scale(0.95);
}

.delete-btn {
  background: transparent;
  border: none;
  color: #d1d1d1;
  font-size: 26px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}

.btn-total {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #0d6efd;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0 !important;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    transition: transform 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-total:active {
    transform: scale(0.95);
}

.group-date     { width: 10%; }
.group-category { width: 10%; }
.group-title    { width: 40%; }
.group-amount   { width: 20%; }
.group-note     { width: 10%; }
.action-add  { width: 5%; justify-content: center; display: flex; }
.action-total { width: 5%; justify-content: center; display: flex; }

.amount { color: red; font-weight: 600; }

.date {
  font-size: 12px;
  color: #888;
  text-align: center;
}

/* --- SELECTS --- */
select {
  width: 100%;
  border: 1px solid #d6d4d4;
  border-radius: 6px;
  padding: 8px;
  padding-right: 25px;
  font-size: 14px;
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
  
  /* прибираємо стандартну стрілку браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Додаємо стрілку через SVG (base64) */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23888' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px;
}

select:focus {
  border-color: var(--primary);
  background-color: #fff;
}

select:invalid {
  color: #888;
}


/* INPUTS */
.input-group {
    padding: 0 4px; /* Маленькі відступи між полями */
}


/* FORMS */
.form-add-expense-wrapper {
    display: flex;
    width: 100%;
    padding: 10px; 
    border-top: 2px solid var(--primary); 
}
